In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter('ignore')

In [40]:
df = pd.read_excel(r"D:\Jupyter\Data Science\ML\SUPERVISIED LEARNING\CLASSIFICATION\PENGUIN DATASET\peniguncleandata.xlsx")
df.head()

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,island_Dream,island_Torgersen,sex_MALE
0,0,39.10000,18.70000,181.000000,3750.000000,0,1,1
1,0,39.50000,17.40000,186.000000,3800.000000,0,1,0
2,0,40.30000,18.00000,195.000000,3250.000000,0,1,0
3,0,43.92193,17.15117,200.915205,4201.754386,0,1,1
4,0,36.70000,19.30000,193.000000,3450.000000,0,1,0

In [41]:
X = df.drop(['species'], axis=1)
y = df['species']

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=True)

In [43]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [44]:
from sklearn.neighbors import KNeighborsClassifier
estimator = KNeighborsClassifier()
param_grid = {'n_neighbors':list(range(1,20))}

from sklearn.model_selection import GridSearchCV
cv_classifier = GridSearchCV(estimator,param_grid,cv=5,scoring = 'accuracy')

cv_classifier.fit(X_train,y_train)

cv_classifier.best_params_

{'n_neighbors': 6}

In [45]:
#modelling
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(X_train,y_train)

#prediction 
y_pred_test = knn.predict(X_test)
y_pred_train = knn.predict(X_train)

#Evalution 
from sklearn.metrics import accuracy_score
print('train accuracy',accuracy_score(y_train,y_pred_train))
print('test accuracy',accuracy_score(y_test,y_pred_test))

from sklearn.model_selection import cross_val_score
print('cross validation score',cross_val_score(knn,X,y,cv=5).mean())

train accuracy 0.9890909090909091
test accuracy 1.0
cross validation score 0.7793265132139813

In [46]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred_test)

array([[34,  0,  0],
       [ 0, 11,  0],
       [ 0,  0, 24]], dtype=int64)

In [47]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        34
           1       1.00      1.00      1.00        11
           2       1.00      1.00      1.00        24

    accuracy                           1.00        69
   macro avg       1.00      1.00      1.00        69
weighted avg       1.00      1.00      1.00        69